{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<articles-component></articles-component>
	<div class="container">
		<h1 class="page-title">Liste des articles</h1>
		<ul class="article-list">
			{% for article in articles %}
				<li class="article-card">
					<article class="card">
						<div class="card__wrapper">
							<figure class="card__feature">
								<img src="https://www.dropbox.com/s/z7gp2vanse5djxf/waves.jpg?raw=1" class="card__img" alt="waves" width="275" height="240">
							</figure>

							<div class="card__box">
								<header class="card__item card__header">
									<h6 class="card__item card__item--small card__label">Featured</h6>
									<h2 class="card__item card__item--small card__title">{{ article.title }}</h2>
								</header>

								<hr class="card__item card__divider">

								<section class="card__item card__body">
									<p>{{ article.content }}</p>
								</section>
							</div>

							<div class="comments-container">
								<post-comments post="{{ article.id}}"></post-comments>
							</div>
						</article>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endblock %}
